<p id="notice"><%= notice %></p>
<h1>
  <strong>
    Hey
    <%= @user.name %>!
  </strong>
</h1>

<br>


<!-- chores to do -->
<%@chores = Chore.all %>
<h2>TODO</h2>
<%@chores.each do |chore| %>
<% if chore.done =="false" %>
<p>
 
  <%if chore.user.name == "Bryan" %>
  <%= inline_svg "bryan.svg", class: 'user_icon' %>
  <% end %>
  <%if chore.user.name == "Jeannie" %>
  <%= inline_svg "jeannie.svg", class: 'user_icon' %>
  <% end %>
  <%= chore.name %> 
  <!-- client --> <a href="<%= chore_path(chore.id) %>" data-method="put" class="submit2"> Mark as Done</a>&nbsp;
  <a href="<%=   chore_path(chore.id) %>" data-method="delete" class="submit2">delete</a>
</p>
<%end%>
<%end%>
<!-- chores done -->
<h2>DONE</h2>
<%@chores.each do |chore| %>
<% if chore.done =="true" %>
<p>
 
  <%if chore.user.name == "Bryan" %>
  <%= inline_svg "bryan.svg", class: 'user_icon' %>
  <% end %>
  <%if chore.user.name == "Jeannie" %>
  <%= inline_svg "jeannie.svg", class: 'user_icon' %>
  <% end %>
  <%= chore.name %> 
  <a href="<%= chore_path(chore.id) %>" data-method="put" class="submit2"> Mark as Todo</a>&nbsp;
  <a href="<%= chore_path(chore.id) %>" data-method="delete" class="submit2">delete</a>
</p>
<%end%>
<%end%>
<!-- add chore form -->

<%= form_tag chores_path, :method => "post" do %>
<p>
  New Chore Name: 
  <br>
  <input type="text" class = "input" name="chore[name]" 
  required>
  <%@users = User.all %>
  <%@users.each do |user| %>
  <br><input type="radio" name="chore[user_id]" value="<%= user.id %>" class="radial"><%= user.name %>
  <%end%>
  <input type="hidden" name="chore[done]" 
  value="false">
  <br>
  <input type="submit" value="submit" class="submit">
  
</p>
<%end%>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
