<p id="notice"><%= notice %></p>



<h1>
  <strong>
  Hey
  <%= @user.name %>!
  </strong>
</h1>


<!-- chores to do -->
<%@chores = Chore.all %>
<p><strong>Chores To-Do:</strong></p>
<%@chores.each do |chore| %>
<% if chore.done =="false" %>
<p>
  <%= chore.name %> 
 <%if chore.user.name == "Bryan" %>
  <%= inline_svg "bryan.svg", class: 'user_icon' %>
 <% end %>
 <%if chore.user.name == "Jeannie" %>
  <%= inline_svg "jeannie.svg", class: 'user_icon' %>
 <% end %>
   <!-- client --> <a href="<%= chore_path(chore.id) %>" data-method="put"> Mark as Done</a>--
  <a href="<%=   chore_path(chore.id) %>" data-method="delete">delete</a>
</p>
<%end%>
<%end%>
<!-- chores done -->
<p><strong>Chores that are done:</strong></p>
<%@chores.each do |chore| %>
<% if chore.done =="true" %>
<p>
  <%= chore.name %> 
  <%if chore.user.name == "Bryan" %>
   <%= inline_svg "bryan.svg", class: 'user_icon' %>
  <% end %>
  <%if chore.user.name == "Jeannie" %>
   <%= inline_svg "jeannie.svg", class: 'user_icon' %>
  <% end %>
  <a href="<%= chore_path(chore.id) %>" data-method="put"> Mark as Todo</a>--
  <a href="<%= chore_path(chore.id) %>" data-method="delete">delete</a>
</p>
<%end%>
<%end%>
<!-- add chore form -->

<%= form_tag chores_path, :method => "post" do %>
<p>
  New Chore Name: <input type="text" class = "input" name="chore[name]" 
  required>
 <%@users = User.all %>
 <%@users.each do |user| %>
  <br><input type="radio" name="chore[user_id]" value="<%= user.id %>" class="radial"><%= user.name %>
  <%end%>
  <input type="hidden" name="chore[done]" 
  value="false">
  <br>
  <input type="submit" value="submit" class="submit">
  
</p>
<%end%>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
