<!DOCTYPE html>
<html>
<head>
  <title>KPC Dashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <link href='http://fonts.googleapis.com/css?family=Dosis:400,600,200' rel='stylesheet' type='text/css'>
</head>
<body>
<%= inline_svg "logo.svg", class: 'logo' %>

<%= yield %>
<p><a href = "<%= logout_path %>">log out</a></p>
</body>
</html>
